doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-expand-md.navbar-light.bg-light
      .container
        a.navbar-brand(href='/') Loc8r
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/about/') About
    .container
      block content
      footer
        .row
          .col-12
            small &copy; 2025810086 김승운

    //- [수정 없음] 스크립트 파일들을 </body> 태그 직전에 배치
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/validation.js")
    
    //- [유지] Angular 빌드 스크립트를 삽입할 블록
    block scripts